main.main
    ul.main__list
        li.main__item
            a.main__link(href="#")
                span.main__label Логотипы
        li.main__item
            a.main__link(href="#")
                span.main__label Брендинг
        li.main__item
            a.main__link(href="#")
                span.main__label Упаковка
        li.main__item
            a.main__link(href="#")
                span.main__label Иллюстрация
